nbproject
._*
.~lock.*
.buildpath
.DS_Store

/node_modules
/.idea
Homestead.json
Homestead.yaml
.env
.vagrant
/node_modules/
composer.lock
laravel-echo-server.json
package-lock.json
.phpstorm.meta.php
_ide_helper.php
/public/media
/public/mix-manifest.json
/dist
/public/page-cache
/vendor
