nbproject
._*
.~lock.*
.buildpath
.DS_Store

/node_modules
/storage/job_logs/
/storage/agent_logs/
/storage/agent_metrics/
/storage/agent_packages/
/.idea
Homestead.json
Homestead.yaml
.env
.vagrant
/node_modules/
/agent/
/scheduler/
/storage/api_log/
/storage/scheduler_logs/
composer.lock
laravel-echo-server.json
package-lock.json
.phpstorm.meta.php
_ide_helper.php
/public/media
/public/mix-manifest.json
/dist
/frontend/node_modules
/storage/product/
/public/page-cache
/vendor
